---
layout: default
title: Home
description: BasicCAT is an open source computer-aided translation tool
---
<div class="home">
	<section class="site-header">
		<h1 class="smallcap"><a class="site-title" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">BasicCAT</a></h1>
		{% include nav.html %}
        {% include intro.html %}
	</section>

</div>

    <p>BasicCAT is an open source and free computer-aided translation tool, which aims at providing a simple and useful tool for translators. The name is BasicCAT, because of its simplicity and its programming language—Basic. Basic is easy to learn and everyone can build a suitable CAT tool based on BasicCAT's source code.</p>
    
<p>The design principle of BasicCAT is to reduce eye shift and focus on translating. Machine Translation, selected word meaning and language check results will all show as a dropdown list below the input textarea.</p>

<p><img src="/album/demo.gif" alt="demo" /></p>

<p>It has the following features:</p>

<ul>
  <li>Translation memory</li>
  <li>Terminology management</li>
  <li>Language check</li>
  <li>Select words to get meanings</li>
  <li>Quickfill</li>
  <li>AutoCorrect</li>
  <li>Interactive machine translation</li>
  <li>Export Word for external review</li>
  <li>Export bilingual paragraph files</li>
  <li>Merge and split segments freely</li>
  <li>Online dictionaries integration</li>
  <li>Support machine translation services provided by Google, Microsoft, etc.</li>
  <li>Pretranslate based on translation memory and machine translation</li>
  <li>Support common file formats: TXT, IDML, XLIFF, Gettext Po</li>
  <li>Support translation standards: TMX, TBX and SRX</li>
  <li>Version control using git</li>
</ul>

<p>Links:</p>
<ul>
  <li>
    <a href="/download/">Download</a>
  </li>
  <li>
    <a href="/releasenote/">Release Notes</a>
  </li>
  <li>
    <a href="https://docs.basiccat.org/en/latest/">Documentation</a>
  </li>
</ul>
<p>Check <a href="/imagetrans/">ImageTrans</a>, if you need to translate images/comics.</p>
<p>Check <a href="/silhouette/">Silhouette</a>, if you need to translate videos and audios.</p>
<p>You can find more products <a href="/products/">here</a>.</p>
<p><img src="/album/main.png" alt="screenshot" /></p>
