---
layout: default
---
<div class="home">
	<section class="site-header">
		<h1 class="smallcap"><a class="site-title" href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">BasicCAT</a></h1>
		{% include nav.html %}
        {% include intro.html %}
	</section>

</div>

    <p>BasicCAT is an open source and free computer-aided translation tool, which aims at providing a simple and useful tool for translators. The name is BasicCAT, because of its simplicity and its programming language—Basic. Basic is easy to learn and everyone can build a suitable CAT tool based on BasicCAT's source code.</p>
    
<p>The design principle of BasicCAT is to reduce eye shift and focus on translating. Machine Translation, selected word meaning and language check results will all show as a dropdown list below the input textarea.</p>

<p><img src="/album/demo.gif" alt="" /></p>

<p>It has the following features:</p>

<ul>
  <li>Translation Memory</li>
  <li>Terminology Management</li>
  <li>Language Check</li>
  <li>Select words to get meanings</li>
  <li>Quickfill</li>
  <li>AutoCorrect</li>
  <li>Interactive Machine Translation</li>
  <li>Export Word for external review</li>
  <li>Export bilingual paragraph files</li>
  <li>Merge and split segments freely</li>
  <li>Online Dictionaries Integration</li>
  <li>Support Machine Translation Services Provided by Google, Microsoft, etc.</li>
  <li>Pretranslate based on translation memory and machine translation</li>
  <li>Support common file formats: TXT, idml, xliff, gettext Po</li>
  <li>Support translation standards: TMX, TBX and SRX</li>
  <li>Version Control using Git</li>
</ul>
<p>See <a href="https://docs.basiccat.org/en/latest/">Documentation</a> to learn more</p>
<p>Check <a href="/imagetrans/">ImageTrans</a>, if you need to translate images/comics.</p>
<p><img src="/album/main.png" alt="" /></p>
