{% assign lang = page.lang | default: 'en' %}
{% assign cur = site.languages | where: "code", lang | first %}
{% assign t = site.data[lang].text %}
{% assign homelink = cur.url %}

<p class="site-nav">
<a href="{{ homelink | prepend: site.baseurl | prepend: site.url }}">{{ t.home }}</a> /
<a href="{{ homelink | append: 'blog' | prepend: site.baseurl | prepend: site.url }}">{{ t.blog }}</a> /
<a href="{{ homelink | append: 'imagetrans' | prepend: site.baseurl | prepend: site.url }}">{{ t.imagetrans }}</a> /
<a href="{{ homelink | append: 'silhouette' | prepend: site.baseurl | prepend: site.url }}">{{ t.silhouette }}</a> /
<a href="{{ homelink | append: 'support' | prepend: site.baseurl | prepend: site.url }}">{{ t.support }}</a> /
<a href="{{ homelink | append: 'donation' | prepend: site.baseurl | prepend: site.url }}">{{ t.donation }}</a> /
<a href="{{ homelink | append: 'feed.xml' | prepend: site.baseurl | prepend: site.url }}">{{ t.rss }}</a>
</p>
