.footer {
  margin-top: 2em;
}

.status {
  margin-left: 1em;
}

.hightlighted {
  color: red;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar {
  display: flex;
}

@media screen and (max-device-width: 600px){
  .search-bar {
    width: 100%;
  }
  .keywords {
    flex-grow: 1;
  }
}

