.footer {
  margin-top: 2em;
}

.status {
  margin-left: 1em;
}

.hightlighted {
  color: red;
}

.container {
  padding-left: 10px;
  padding-right: 10px;
}

.search-bar {
  display: flex;
}

.cover-img {
  object-fit: cover;
  width: 100%;
  max-height: 250px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  padding-left: 10px;
  padding-right: 10px;
}

.product {
  padding: 10px;
  margin-top: 10px;
  background: #F5F5F5;
  max-width: 30%;
  margin-right: 5px;
}

.page-content {
  max-width: 100%;
  margin: 0;
}

@media screen and (max-device-width: 600px){
  .product {
    width: 100%;
    max-width: 100%;
  }
}

@media screen and (max-device-width: 600px){
  .search-bar {
    width: 100%;
  }
  .keywords {
    flex-grow: 1;
  }
}

